*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(imageforapp3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    

}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    color: rgb(54, 230, 115);
    font-size: 3rem
}

h2{
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    
    font-size: 2rem;
}

#increment-btn {
    background-color:white;
    color: black;
    padding: 10px 20px;
    
    font-size: 1.2rem;
    margin: 20px;
    border-radius: 10px;
    
   
    

}



#save-btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
   
    
    font-size: 1.2rem;
    margin: 20px;
        border-radius: 10px;

}

p{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}